# packaging
pip>=9
setuptools>=26
twine==4.0.2
wheel>=0.29

# data science
numpy==1.23.5
pandas==2.1.2
matplotlib==3.8.0
seaborn==0.13.0
scikit-learn==1.3.2
nltk==3.8.1
regex==2023.10.3
ipdb==0.13.13
jupyterlab==4.0.7
PyPDF2==3.0.1  #for text pdf
PyMuPDF==1.23.5
tesseract-ocr==0.0.1  #for scanned pdf
pytesseract==0.3.10
bertopic==0.15.0
openpyxl==3.1.2    #for reading excel files
et-xmlfile==1.1.0
gensim==4.3.2
smart-open==6.4.0
kaleido == 0.2.1    #for displaying images
huggingface-hub==0.19.3
sentence-transformers==2.2.2
tokenizers==0.15.0
transformers==4.35.2

# tests/linter
black==23.10.1
coverage==7.3.2
flake8==6.1.0
pytest==7.4.3
pylint==3.0.2
yapf==0.40.2

# utilities
six>=1.14
joblib==1.3.2
memoized-property==1.0.3
termcolor==2.3.0


packgenlite @ git+https://github.com/krokrob/packgenlite.git@master
