# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy==1.23.5
pandas
matplotlib
seaborn
scikit-learn
ipdb
jupyterlab
PyPDF2  #for text pdf
PyMuPDF
tesseract-ocr  #for scanned pdf
pytesseract
nltk
pickle
json
re
bertopic
openpyxl==3.1.2    #for reading excel files
et-xmlfile==1.1.0
gensim==4.3.2
smart-open==6.4.0
kaleido == 0.2.1    #for displaying images

# tests/linter
black
coverage
flake8
pytest
pylint
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

packgenlite @ git+https://github.com/krokrob/packgenlite.git@master
