aiobotocore==2.7.0
aiohttp==3.8.6
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.12.1
anyio==4.0.0
argcomplete==1.10.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid==3.0.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
Babel==2.13.1
beautifulsoup4==4.8.2
bertopic==0.15.0
bitarray==2.8.2
black==23.10.1
bleach==6.1.0
blinker==1.6.3
botocore==1.31.64
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.1
click==8.1.7
cloudpickle==2.2.1
comm==0.1.4
compressed-rtf==1.0.6
contourpy==1.1.1
coverage==7.3.2
cryptography==41.0.5
cycler==0.12.1
Cython==0.29.36
databricks-cli==0.18.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
-e git+ssh://git@github.com/PratimaThapa/DisLex_Project.git@7b5bed1be9c3f78fc2a5259480b60d4d1648634a#egg=DisLex_Project
docker==6.1.3
docutils==0.20.1
docx2txt==0.8
ebcdic==1.1.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.1
extract-msg==0.28.7
fastjsonschema==2.18.1
filelock==3.13.1
flake8==6.1.0
Flask==3.0.0
fonttools==4.43.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
future==0.18.3
gcsfs==2023.10.0
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.12.0
google-auth==2.23.3
google-auth-oauthlib==1.1.0
google-cloud-core==2.3.3
google-cloud-storage==2.12.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
greenlet==3.0.1
gunicorn==21.2.0
hdbscan==0.8.33
huggingface-hub==0.19.3
idna==3.4
IMAPClient==2.1.0
importlib-metadata==6.8.0
iniconfig==2.0.0
install==1.3.5
ipdb==0.13.13
ipykernel==6.26.0
ipython==8.17.2
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_client==8.5.0
jupyter_core==5.5.0
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
kaleido==0.2.1
keyring==24.2.0
kiwisolver==1.4.5
langdetect==1.0.9
llvmlite==0.41.1
lxml==4.9.3
Mako==1.2.4
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
memoized-property==1.0.3
mistune==3.0.2
mlflow==2.8.0
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
nh3==0.2.14
nltk==3.8.1
notebook==7.0.6
notebook_shim==0.2.3
numba==0.58.1
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
openpyxl==3.1.2
overrides==7.4.0
packaging==23.2
packgenlite @ git+https://github.com/krokrob/packgenlite.git@b6c0a9c4da1bdd22350a444e11ebe4565fa2f34d
pandas==2.1.2
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.2
pdfminer.six==20200517
pdfplumber==0.5.27
pdfreader==0.1.12
pexpect==4.8.0
Pillow==9.5.0
pipdeptree==2.13.0
pkginfo==1.9.6
platformdirs==3.11.0
plotly==5.18.0
pluggy==1.3.0
prometheus-client==0.18.0
prompt-toolkit==3.0.39
protobuf==4.24.4
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
pycryptodome==3.19.0
pyflakes==3.1.0
Pygments==2.16.1
PyJWT==2.8.0
pylint==3.0.2
PyMuPDF==1.23.5
PyMuPDFb==1.23.5
pynndescent==0.5.10
pyparsing==3.1.1
PyPDF2==3.0.1
pypdfium2==4.22.0
pytesseract==0.3.10
pytest==7.4.3
python-dateutil==2.8.2
python-gitlab==3.15.0
python-json-logger==2.0.7
python-pptx==0.6.22
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.1
querystring-parser==1.2.4
readme-renderer==42.0
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.6.0
rpds-py==0.10.6
rsa==4.9
s3fs==2023.10.0
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
SecretStorage==3.3.3
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
setuptools-scm==8.0.4
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SpeechRecognition==3.8.1
SQLAlchemy==2.0.22
sqlparse==0.4.4
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tbb==2021.11.0
tenacity==8.2.3
termcolor==2.3.0
terminado==0.17.1
textract==1.6.5
threadpoolctl==3.2.0
tika==2.6.0
tinycss2==1.2.1
tokenizers==0.15.0
tomli==2.0.1
tomlkit==0.12.1
torch==2.1.1
torchvision==0.16.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
transformers==4.35.2
triton==2.1.0
twine==4.0.2
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
umap-learn==0.5.4
uri-template==1.3.0
urllib3==2.0.7
Wand==0.6.11
wcwidth==0.2.9
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.15.0
xlrd==1.2.0
XlsxWriter==3.1.9
yapf==0.40.2
yarl==1.9.2
zipp==3.17.0
